{
  "openapi": "3.0.1",
  "info": {
    "title": "Grafos Tech - Registro de Quilometragem",
    "version": "v1",
    "description": "1 - Faça a requisição na <b>/api/Backend</b> e armazene a URL retornada para uso posterior.<br/><br/>(Obs: Sugerimos realizar essa requisição uma vez ao dia pois a URL retornada pode ser alterada.)<br/><br/>2 - Com a URL do passo anterior em mãos, faça a requisição de login e armazene o token retornado.<br/>(Obs: Esse token expira sempre após a meia noite.)<br/><br/>3 - Realize a busca do registro de quilometragem utilizando o token nos headers da requisição com a palavra <b>Bearer</b> antes do mesmo. Exemplo: <code>Bearer u797ihf65898sd7841d7sfsdf</code><br/><br/><b>Suporte:</b><br/>E-mail: contato@grafostech.com.br<br/>Telefone: (47) 98920-0000 (Whatsapp)<br/><br/><b>Observação:</b> Caso não possua um usuário e senha para acesso, solicitar a criação para o cliente ou para o suporte Grafos Tech."
  },
  "servers": [
    {
      "url": "https://container-app-prod-ms-backend.proudsand-a95781db.eastus.azurecontainerapps.io",
      "description": "Prod"
    }
  ],
  "paths": {
    "/api/Backend": {
      "get": {
        "tags": [
          "Microservices"
        ],
        "summary": "Pega a URL do Backend para realizar as outras operações.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Users/login": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Realizar login para gerar o token bearer de autenticação.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "usuario": {
                    "type": "string"
                  },
                  "senha": {
                    "type": "string"
                  }
                },
                "required": [
                  "usuario",
                  "senha"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token de autenticação retornado com sucesso"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      }
    },
    "/api/RegistroQuilometragem/GetByRota": {
      "get": {
        "tags": [
          "RegistroQuilometragem"
        ],
        "summary": "Retorna os registros de quilometragem por rota.",
        "parameters": [
          {
            "name": "idRota",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idExterno",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de registros retornada com sucesso"
          },
          "400": {
            "description": "Requisição inválida"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "Inserir o token JWT com Bearer",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ]
}
